@layer components {
  .elv-avatar {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-relative elv-flex elv-items-center elv-justify-center
        elv-border-2 elv-border-inverted elv-overflow-hidden;
    }
  }

  .elv-avatar--xl {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-w-26 elv-h-26 elv-rounded-xl;
    }
  }

  .elv-avatar--lg {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-w-16 elv-h-16 elv-rounded-full;
    }
  }

  .elv-avatar--md {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-w-12 elv-h-12 elv-rounded-full;
    }
  }

  .elv-avatar--sm {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-w-8 elv-h-8 elv-rounded-full;
    }
  }

  .elv-avatar--xs {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-w-5 elv-h-5 elv-rounded-full;
    }
  }

  .elv-avatar__image {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-w-full elv-h-full;
      object-fit: cover;
      object-position: center;
      border-radius: inherit;
    }
  }

  .elv-avatar__initials {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-relative elv-flex elv-items-center elv-justify-center
        elv-w-full elv-h-full elv-bg-primary elv-text-inverted elv-font-semibold;
      border-radius: inherit;
    }
  }
}
