@layer components {
  .avatar {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-relative elv-flex elv-items-center elv-justify-center
        elv-border-2 elv-border-inverted;
    }
  }

  .avatar--xl {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-size-21 elv-rounded-xl;
    }
  }

  .avatar--lg {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-size-15 elv-rounded-full;
    }
  }

  .avatar--md {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-size-11 elv-rounded-full;
    }
  }

  .avatar--sm {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-size-9 elv-rounded-full;
    }
  }

  .avatar--xs {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-size-7 elv-rounded-full;
    }
  }

  .avatar__image {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-w-full elv-h-full elv-overflow-hidden;
      object-fit: cover;
      object-position: center;
      border-radius: inherit;
    }
  }

  .avatar__initials {
    :where([elv]) &,
    &:where([elv]) {
      @apply elv-relative elv-flex elv-items-center elv-justify-center
        elv-w-full elv-h-full elv-bg-primary elv-text-inverted elv-font-semibold
        elv-overflow-hidden;
      border-radius: inherit;
    }
  }
}
