@layer components {
  .checkbox {
    @apply elv-appearance-none
      elv-bg-neutral-0
      elv-border
      elv-border-medium
      elv-rounded-xs
      elv-transition-all
      elv-ease-in
      elv-cursor-pointer
      elv-relative
      elv-w-5
      elv-h-5;
    font-size: 20px;

    &:checked {
      @apply elv-bg-primary elv-border-0;
    }

    &:checked::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.35em;
      height: 0.65em;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: translate(-50%, -60%) rotate(45deg);
    }

    &:hover:not(:checked):not(:disabled):not(:indeterminate) {
      @apply elv-bg-primary-20;
    }

    &:focus,
    &:focus-visible {
      @apply elv-outline elv-outline-3 elv-outline-offset-1 elv-outline-purple-40;
    }

    &:disabled {
      @apply elv-bg-neutral-10 elv-border-0 elv-cursor-default;

      &:hover { box-shadow: none; }
    }

    &:disabled:checked {
      @apply elv-bg-neutral-20;
    }

    &:indeterminate {
      @apply elv-bg-primary elv-border-0;
    }

    &:indeterminate::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0.5em;
      height: 2px;
      background: white;
      transform: translate(-50%, -50%);
    }
  }

  .checkbox--sm {
    @apply elv-w-4 elv-h-4;
    font-size: 16px;
  }

  .checkbox--lg {
    @apply elv-w-6 elv-h-6;
    font-size: 24px;
  }
}
