@layer components {
  .chip {
      @apply elv-inline-flex elv-w-fit elv-items-center elv-justify-center
        elv-cursor-pointer elv-transition-all elv-duration-150 elv-ease-in-out
        elv-bg-neutral-10 elv-text-neutral elv-border-0 elv-font-figtree;
  }

  .chip:hover {
      @apply elv-bg-primary-30 elv-text-primary;
  }

  .chip[data-selected="true"] {
      @apply elv-bg-primary-20 elv-text-primary;
  }

  .chip--xs {
      @apply elv-h-4 elv-py-0.5 elv-rounded-xs elv-text-xs elv-font-semibold;
  }

  .chip--sm {
      @apply elv-h-6 elv-py-0.5 elv-rounded-xs elv-text-sm elv-font-semibold;
  }

  .chip--md {
      @apply elv-h-8 elv-py-0.5 elv-px-1 elv-rounded-sm elv-text-sm elv-font-semibold;
  }

  .chip__label {
      @apply elv-px-0.5 elv-whitespace-nowrap;
      color: inherit;
      font-weight: inherit;
      font-size: inherit;
  }

  .chip__icon {
      @apply elv-text-primary elv-shrink-0;
      transition: width 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .chip__icon--hidden {
    width: 0 !important;
    overflow: hidden;
  }

  .chip__icon--xs {
      @apply elv-w-3 elv-h-3;
  }

  .chip__icon--sm {
      @apply elv-w-4 elv-h-4;
  }

  .chip__icon--trailing {
      @apply elv-rounded-2xs;
  }

  .chip__icon--trailing:hover {
      @apply elv-bg-primary-40 elv-text-default;
  }

  .chip--dismissing {
    opacity: 0;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
