@layer components {
  .content-card {
    @apply elv-flex elv-flex-col elv-border elv-rounded-md md:elv-shadow-1 elv-bg-neutral-0 elv-border-light;
  }

  .content-card--bg-purple {
    @apply elv-bg-primary-20;
  }

  .content-card--border-whisper {
    @apply elv-border-whisper;
  }

  .content-card--border-purple {
    @apply elv-border-primary;
  }

  .content-card__header {
    @apply elv-flex elv-flex-col elv-px-5 md:elv-px-6 elv-pt-6 elv-pb-2 elv-gap-y-1;
  }

  .content-card__header--lg {
    @apply md:elv-pb-6 elv-border-b elv-border-medium;
  }

  .content-card__header--lg.content-card__header--border-whisper {
    @apply elv-border-light;
  }

  .content-card__header-row {
    @apply elv-flex elv-justify-between elv-min-h-8 elv-flex-col elv-flex-wrap md:elv-flex-row elv-gap-1;
  }

  .content-card__header-title {
    @apply elv-flex elv-gap-x-1 elv-items-center;
  }

  .content-card__header-actions {
    @apply elv-flex elv-gap-x-1 elv-items-center;
  }

  .content-card__header-description {
    @apply elv-w-full md:elv-order-last;
    flex: 0 0 100%;
  }

  .content-card__content {
    @apply elv-grow;
  }

  .content-card__content--md {
    @apply elv-px-5 md:elv-px-6 elv-py-3 md:elv-py-4;
  }

  .content-card__content--lg {
    @apply elv-px-5 md:elv-px-6 elv-py-3 md:elv-py-6;
  }

  .content-card__content--md-no-footer {
    @apply elv-px-5 md:elv-px-6 elv-pt-3 elv-pb-6 md:elv-pt-4;
  }

  .content-card__content--lg-no-footer {
    @apply elv-px-5 md:elv-px-6 elv-pt-3 elv-pb-6 md:elv-pt-6;
  }

  .content-card__content--compact {
    @apply elv-p-0;
  }

  .content-card__footer {
    @apply elv-flex elv-items-center elv-px-5 md:elv-px-6 elv-pt-2 elv-pb-6 elv-min-h-18;
  }

  .content-card__footer--lg {
    @apply elv-border-t elv-border-medium md:elv-pt-6;
  }

  .content-card__footer--right {
    @apply elv-justify-end elv-gap-x-5;
  }

  .content-card__footer--center {
    @apply elv-justify-center;
  }

  .content-card__footer--distributed {
    @apply elv-justify-end;
  }

  .content-card__footer-control {
    @apply elv-mr-auto;
  }

  .content-card__footer--distributed .content-card__footer-control {
    @apply elv-flex elv-justify-start elv-flex-grow elv-mr-5;
    flex-basis: 25%;
  }

  .content-card__footer-pagination {
  }

  .content-card__footer--distributed .content-card__footer-pagination {
    @apply elv-flex-grow elv-flex elv-justify-center;
  }

  .content-card__footer-action {
  }

  .content-card__footer--distributed .content-card__footer-action {
    @apply elv-ml-5 elv-flex-grow elv-flex elv-justify-end;
    flex-basis: 25%;
  }
}
