.elv-media-carousel-swiper {
  width: 100%;
  height: 100%;
}

.elv-media-carousel-swiper .swiper-wrapper {
  height: 100%;
}

.elv-media-carousel-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.elv-media-carousel-swiper .swiper-slide > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elv-media-carousel-swiper .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.elv-media-carousel-swiper .swiper-pagination {
  bottom: 1rem;
}

.elv-media-carousel-swiper .swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  background: var(--elv-color-primary, #007bff);
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}

.elv-media-carousel-swiper .swiper-pagination-bullet:hover {
  opacity: 0.7;
}

.elv-media-carousel-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

.elv-thumbnail-container .elv-play-icon {
  width: 1.75rem !important;
  height: 1.75rem !important;
}

.elv-thumbnail-container .swiper-slide-thumb-active {
  @apply elv-shadow-ui-focus elv-border-0;
}
