@layer components {
  .elv-stars {
    @apply elv-inline-block elv-shrink-0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 24px;
  }

  .elv-stars--sm {
    width: 80px;
    height: 16px;
  }

  .elv-stars--md {
    width: 100px;
    height: 20px;
  }

  .elv-stars-0  { background-image: svg-load('stars-0.svg'); }
  .elv-stars-1  { background-image: svg-load('stars-1.svg'); }
  .elv-stars-2  { background-image: svg-load('stars-2.svg'); }
  .elv-stars-3  { background-image: svg-load('stars-3.svg'); }
  .elv-stars-4  { background-image: svg-load('stars-4.svg'); }
  .elv-stars-5  { background-image: svg-load('stars-5.svg'); }
  .elv-stars-6  { background-image: svg-load('stars-6.svg'); }
  .elv-stars-7  { background-image: svg-load('stars-7.svg'); }
  .elv-stars-8  { background-image: svg-load('stars-8.svg'); }
  .elv-stars-9  { background-image: svg-load('stars-9.svg'); }
  .elv-stars-10 { background-image: svg-load('stars-10.svg'); }

  .elv-star-wrapper {
    @apply elv-flex elv-flex-row elv-flex-nowrap elv-items-center;
  }

  .elv-star-wrapper__desc {
    @apply elv-pl-1 elv-inline-flex elv-items-center;
  }

  .elv-star-wrapper__desc__rating {
    @apply elv-text-subtle;
  }

  .elv-star-wrapper__desc__count {
    @apply elv-text-subtle elv-font-light elv-ml-1;
  }
}
