@layer components {
  .elv-tooltip {
    background: #201f23;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    max-width: 240px;
    padding: 8px 12px;
    word-break: break-word;
    z-index: 9999;

    &.top::before {
      border-color: #201f23 transparent transparent;
    }

    &.bottom::before {
      border-color: transparent transparent #201f23;
    }
  }

  .elv-tooltip-trigger {
    @apply elv-rounded-pill-lg elv-cursor-pointer;
    background: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    position: relative;

    &:focus {
      outline: 3px solid #c3bde5;
      outline-offset: 0;
    }
  }

  .elv-tooltip-trigger .icon {
    @apply elv-fill-subtle;
  }
}
